<style>
  /*.b1 {background-color: #ffddff;}*/
  /*.b2 {background-color: #ddffff;}*/
  /*.b3 {background-color: #ffffdd;}*/
  .form1 {padding:20px;}
  .form1_label {font-weight:bold; padding-right:6px;}

  /* NOTE:  Bootstrap is goofing up the text_area_tag "cols" with it's "content" def */
</style>


<div id="my_page" style="margin-top:40px;background-color:#ffffff;">

    <div class="row">
        <div class="span12 b1">
            <h2 style="padding:10px;">RESTful service tester</h2>
        </div>
    </div>

    <%= form_for @web_service_test do |f| %>

    <div class="row form1">
        <div class="span5 b2">
            <fieldset><legend>request</legend>

            <div>
                <%= f.label :name, "new test name", {class: "form1_label"}  %>
                <%= f.text_field :name %>
            </div>
            <br>
            <div>
                <%= f.label :server, "server (example: 'http://localhost:3000')", {class: "form1_label"} %>
                <%= f.text_field :server %>
            </div><div>
                <%= f.label :resource, "resource to test (example: '/subscriptions')", {class: "form1_label"}  %>
                <%= f.text_field :resource%>
            </div><div>
                <%= f.label :test_method, "method to test", {class: "form1_label"}  %>
                <%= f.collection_select(:test_method, @test_method_list, :to_s, :to_s) %>
            </div><div>
                <%= f.label :mime_type, "mime type", {class: "form1_label"}  %>
                <%= f.radio_button :mime_type, "xml", checked: true %>xml&nbsp;&nbsp;
                <%= f.radio_button :mime_type, "json" %>json
            </div>
            <br>
            <div class="pull-left" style="line-height:2em;padding-right:10px;">
                <%= check_box_tag :db_save, nil, false %>
            </div>
            <div>
                <%= label_tag "save",  "save test and status to DB", style: "line-height:2em;" %>
            </div>
            <br>
            <%= f.submit "Run Test", class: "btn btn-primary" %>
            </fieldset>
        </div>

        <div class="span6 b3">
            <fieldset><legend>response</legend>
                <%= label_tag :test_response, "response", {class: "form1_label"}  %>
                <%= text_area_tag "test_response_text", @test_response[:response_text], { style: "width:400px;", rows: 15, escape: "false"} %><!--overflow:hidden;-->
                <br>
                <div class="pull-left">
                    <%= label_tag "status", "status:", {class: "form1_label"} %>
                </div>
                <div>
                    <%= label_tag @test_response[:status] %>
                    <%= submit_tag "Clear", onclick: "return clear_response();", class: "btn" %>
                </div>
            </fieldset>
        </div>
        </div><!-- first big row -->
    <% end # of the form %>

    <script>
    function clear_response() {
        $('#test_response_text').val('');
        return false;
    }
    </script>

</div>